In [2]:
import pandas as pd

In [3]:
keywords = pd.read_csv('./dataset/금지어keyword.csv')
blacklist = pd.read_csv('./dataset/블랙리스트정보v2 - 복사본.csv')
normal_item_2022 = pd.read_csv('./dataset/정상상품.csv')
weird_item_2022 = pd.read_csv('./dataset/이상상품.csv')
normal_member = pd.read_csv('./dataset/정상회원데이터.csv')
weird_member = pd.read_csv('./dataset/이상회원데이터.csv')

C:\Users\ujn9\AppData\Local\Temp\ipykernel_16676\2758127978.py:5: DtypeWarning: Columns (10,12,14,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  normal_member = pd.read_csv('./dataset/정상회원데이터.csv')
C:\Users\ujn9\AppData\Local\Temp\ipykernel_16676\2758127978.py:6: DtypeWarning: Columns (7,10,11,12,16,17) have mixed types. Specify dtype option on import or set low_memory=False.
  weird_member = pd.read_csv('./dataset/이상회원데이터.csv')

In [4]:
import sklearn

## 불필요컬럼 제거

In [5]:
normal_item_2022.columns

Index(['MEMBER_ID', 'GCATALOG_ID', 'CATALOG_ID', 'CATALOG_NM', 'CATEGORYM_ID',
       'KEYWORD', 'DISPLAY', 'CATALOG_DESC', 'INPUT_DT', 'UPDATE_DT',
       'REMOTEIP', 'SHOW_CHK'],
      dtype='object')

In [6]:
columns_to_keep = ['CATALOG_NM', 'KEYWORD', 'DISPLAY', 'CATALOG_DESC', 'INPUT_DT', 'UPDATE_DT', 'REMOTEIP', 'SHOW_CHK']
normal_item_2022 = normal_item_2022.loc[:, columns_to_keep]

In [7]:
columns_to_keep = ['CATALOG_NM', 'KEYWORD', 'DISPLAY', 'INPUT_DT', 'UPDATE_DT', 'REMOTEIP', 'SHOW_CHK']
normal_item_2022 = normal_item_2022.loc[:, columns_to_keep]

In [8]:
normal_item_2022.columns

Index(['CATALOG_NM', 'KEYWORD', 'DISPLAY', 'INPUT_DT', 'UPDATE_DT', 'REMOTEIP',
       'SHOW_CHK'],
      dtype='object')

In [9]:
columns_to_keep = ['CATALOG_NM', 'KEYWORD', 'DISPLAY', 'INPUT_DT', 'UPDATE_DT', 'REMOTEIP', 'SHOW_CHK']
weird_item_2022 = weird_item_2022.loc[:, columns_to_keep]

## 이상상품 판단 컬럼 추가

In [10]:
normal_item_2022['judge'] = 1
weird_item_2022['judge'] = 0

In [11]:
weird_item_2022.head()

,CATALOG_NM,KEYWORD,DISPLAY,INPUT_DT,UPDATE_DT,REMOTEIP,SHOW_CHK,judge
0,1-BOC-4-(4-BROMO-PHENYLAMINO)-PIPERIDINECas 44...,1-BOC-4- 4-BROMO-PHENYLAM,Y,20230228100427,20230228100427,219.78.227.175,R,0
1,High Purity N- (Tert-Butoxycarbonyl) -4-Piperi...,N- tert-Butoxycarbonyl -4,Y,20230228094237,20230228094237,42.3.79.92,R,0
2,"1,1-dimethylethyl Ester CAS 288573-56-8",1-BOC-4- 4-FLUORO-PHENYLA,Y,20230228093820,20230228093820,42.3.79.92,R,0
3,White Crystal N-Isopropylbenzylamine CAS 102-9...,N-Isopropylbenzylamine,Y,20230228091028,20230228091028,42.3.79.92,R,0
4,Soybean GMO & NON-GMO,Soybean soybean gmo,Y,20230228075935,20230228075935,131.196.216.214,R,0

In [12]:
pip install nltk

Requirement already satisfied: nltk in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.8.1)
Requirement already satisfied: click in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click->nltk) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\ujn9\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

In [13]:
pip install --upgrade nltk

Requirement already satisfied: nltk in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (3.8.1)Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 23.3.1
[notice] To update, run: C:\Users\ujn9\AppData\Local\Microsoft\WindowsApps\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\python.exe -m pip install --upgrade pip

Requirement already satisfied: click in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk) (1.3.2)
Requirement already satisfied: regex>=2021.8.3 in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk) (2023.10.3)
Requirement already satisfied: tqdm in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from nltk) (4.66.1)
Requirement already satisfied: colorama in c:\users\ujn9\appdata\local\packages\pythonsoftwarefoundation.python.3.11_qbz5n2kfra8p0\localcache\local-packages\python311\site-packages (from click->nltk) (0.4.6)

In [14]:
import nltk

In [15]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\ujn9\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [16]:
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer, WordNetLemmatizer
import string

## 데이터 클렌징

### 소문자 변경, Stopwords 제거, 어근추출

In [17]:
def preprocess_text(text):
    if isinstance(text, str):  # Check if the value is a string
        # Convert to lowercase
        text = text.lower()

        # Remove special characters
        text = ''.join([char for char in text if char not in string.punctuation])

    return text

def remove_stopwords(text):
    if isinstance(text, str):  # Check if the value is a string
        stop_words = set(stopwords.words('english'))
        words = text.split()
        filtered_words = [word for word in words if word.lower() not in stop_words]
        return ' '.join(filtered_words)
    return text

def apply_stemming(text):
    if isinstance(text, str):  # Check if the value is a string
        stemmer = PorterStemmer()
        words = text.split()
        stemmed_words = [stemmer.stem(word) for word in words]
        return ' '.join(stemmed_words)
    return text

# Apply text processing to specified columns
columns_to_process = ['DISPLAY', 'SHOW_CHK','CATALOG_NM', 'KEYWORD']
for column in columns_to_process:
    normal_item_2022[column] = normal_item_2022[column].apply(preprocess_text)
    normal_item_2022[column] = normal_item_2022[column].apply(remove_stopwords)
    normal_item_2022[column] = normal_item_2022[column].apply(apply_stemming)  # or apply_lemmatization if you prefer

# Displaying the updated DataFrame
normal_item_2022.head()

,CATALOG_NM,KEYWORD,DISPLAY,INPUT_DT,UPDATE_DT,REMOTEIP,SHOW_CHK,judge
0,new season 2023 black tea ctc milk tea fulmex ...,milk teactc black teafulmex tea,,20230228005732,20230228005732,14.177.113.144,,1
1,cow mat,rubber matcow matrubb floor matpashu chataidai...,,20230227231604,20230227231604,49.34.172.73,,1
2,5 1 multifunct 4d hifu ultra lift needl rf vma...,4d hifu ultra lift5 1 hifu4d hifu lift4d needl...,,20230227224740,20230227224740,159.138.61.247,,1
3,6mm 612 electr dc mini vibrat motor vr massag ...,vibrat motordc motorcoreless motormini motorsm...,,20230227223506,20230227223506,103.167.134.61,,1
4,pe foam sheet extrud epe foam sheet extrud foa...,pe foam sheet extruderp foam extrusionep foam ...,,20230227214151,20230227214151,118.41.162.204,,1

### DISPLAY와 SHOW_CHK는 클렌징시 데이터가 소거됨.
### 인덱싱으로 알파벳에 숫자를 부여하는 것이 나을 것 같음

In [26]:
normal_item_2022.head()

,CATALOG_NM,KEYWORD,INPUT_DT,UPDATE_DT,REMOTEIP,judge
0,new season 2023 black tea ctc milk tea fulmex ...,milk teactc black teafulmex tea,20230228005732,20230228005732,14.177.113.144,1
1,cow mat,rubber matcow matrubb floor matpashu chataidai...,20230227231604,20230227231604,49.34.172.73,1
2,5 1 multifunct 4d hifu ultra lift needl rf vma...,4d hifu ultra lift5 1 hifu4d hifu lift4d needl...,20230227224740,20230227224740,159.138.61.247,1
3,6mm 612 electr dc mini vibrat motor vr massag ...,vibrat motordc motorcoreless motormini motorsm...,20230227223506,20230227223506,103.167.134.61,1
4,pe foam sheet extrud epe foam sheet extrud foa...,pe foam sheet extruderp foam extrusionep foam ...,20230227214151,20230227214151,118.41.162.204,1

In [19]:
columns_to_process = ['DISPLAY', 'SHOW_CHK','CATALOG_NM', 'KEYWORD']
for column in columns_to_process:
    weird_item_2022[column] = weird_item_2022[column].apply(preprocess_text)
    weird_item_2022[column] = weird_item_2022[column].apply(remove_stopwords)
    weird_item_2022[column] = weird_item_2022[column].apply(apply_stemming)  # or apply_lemmatization if you prefer

# Displaying the updated DataFrame
normal_item_2022.head()

,CATALOG_NM,KEYWORD,DISPLAY,INPUT_DT,UPDATE_DT,REMOTEIP,SHOW_CHK,judge
0,new season 2023 black tea ctc milk tea fulmex ...,milk teactc black teafulmex tea,,20230228005732,20230228005732,14.177.113.144,,1
1,cow mat,rubber matcow matrubb floor matpashu chataidai...,,20230227231604,20230227231604,49.34.172.73,,1
2,5 1 multifunct 4d hifu ultra lift needl rf vma...,4d hifu ultra lift5 1 hifu4d hifu lift4d needl...,,20230227224740,20230227224740,159.138.61.247,,1
3,6mm 612 electr dc mini vibrat motor vr massag ...,vibrat motordc motorcoreless motormini motorsm...,,20230227223506,20230227223506,103.167.134.61,,1
4,pe foam sheet extrud epe foam sheet extrud foa...,pe foam sheet extruderp foam extrusionep foam ...,,20230227214151,20230227214151,118.41.162.204,,1

In [27]:
weird_item_2022.head()

,CATALOG_NM,KEYWORD,INPUT_DT,UPDATE_DT,REMOTEIP,judge
0,1boc44bromophenylaminopiperidineca 443998650,1boc4 4bromophenylam,20230228100427,20230228100427,219.78.227.175,0
1,high puriti n tertbutoxycarbonyl 4piperidon ca...,n tertbutoxycarbonyl 4,20230228094237,20230228094237,42.3.79.92,0
2,11dimethylethyl ester ca 288573568,1boc4 4fluorophenyla,20230228093820,20230228093820,42.3.79.92,0
3,white crystal nisopropylbenzylamin ca 102976 i...,nisopropylbenzylamin,20230228091028,20230228091028,42.3.79.92,0
4,soybean gmo nongmo,soybean soybean gmo,20230228075935,20230228075935,131.196.216.214,0

In [21]:
normal_item_2022 = normal_item_2022.drop(['DISPLAY', 'SHOW_CHK'], axis=1)
weird_item_2022 = weird_item_2022.drop(['DISPLAY', 'SHOW_CHK'], axis=1)

## 이상상품, 정상상품 CONCAT

In [22]:
merged_df = pd.concat([normal_item_2022, weird_item_2022], ignore_index=True)

# Display the merged DataFrame
merged_df['judge'].value_counts()

judge
1    538722
0    212593
Name: count, dtype: int64

In [23]:
merged_df.head()

,CATALOG_NM,KEYWORD,INPUT_DT,UPDATE_DT,REMOTEIP,judge
0,new season 2023 black tea ctc milk tea fulmex ...,milk teactc black teafulmex tea,20230228005732,20230228005732,14.177.113.144,1
1,cow mat,rubber matcow matrubb floor matpashu chataidai...,20230227231604,20230227231604,49.34.172.73,1
2,5 1 multifunct 4d hifu ultra lift needl rf vma...,4d hifu ultra lift5 1 hifu4d hifu lift4d needl...,20230227224740,20230227224740,159.138.61.247,1
3,6mm 612 electr dc mini vibrat motor vr massag ...,vibrat motordc motorcoreless motormini motorsm...,20230227223506,20230227223506,103.167.134.61,1
4,pe foam sheet extrud epe foam sheet extrud foa...,pe foam sheet extruderp foam extrusionep foam ...,20230227214151,20230227214151,118.41.162.204,1

## 카탈로그, 키워드 열 카운트벡터

In [24]:
from sklearn.feature_extraction.text import CountVectorizer

In [28]:
merged_df['REMOTEIP'] = merged_df['REMOTEIP'].str.replace('.', '')

In [29]:
merged_df.head()

,CATALOG_NM,KEYWORD,INPUT_DT,UPDATE_DT,REMOTEIP,judge
0,new season 2023 black tea ctc milk tea fulmex ...,milk teactc black teafulmex tea,20230228005732,20230228005732,14177113144,1
1,cow mat,rubber matcow matrubb floor matpashu chataidai...,20230227231604,20230227231604,493417273,1
2,5 1 multifunct 4d hifu ultra lift needl rf vma...,4d hifu ultra lift5 1 hifu4d hifu lift4d needl...,20230227224740,20230227224740,15913861247,1
3,6mm 612 electr dc mini vibrat motor vr massag ...,vibrat motordc motorcoreless motormini motorsm...,20230227223506,20230227223506,10316713461,1
4,pe foam sheet extrud epe foam sheet extrud foa...,pe foam sheet extruderp foam extrusionep foam ...,20230227214151,20230227214151,11841162204,1

## 라벨 인코딩

In [30]:
from sklearn.preprocessing import LabelEncoder

In [31]:
if 'CATALOG_NM' in merged_df.columns and 'KEYWORD' in merged_df.columns:
    label_encoder = LabelEncoder()

    # Label encode 'CATALOG_NM' and 'KEYWORD' columns
    merged_df['CATALOG_NM_encoded'] = label_encoder.fit_transform(merged_df['CATALOG_NM'])
    merged_df['KEYWORD_encoded'] = label_encoder.fit_transform(merged_df['KEYWORD'])

    # Drop the original 'CATALOG_NM' and 'KEYWORD' columns
    merged_df = merged_df.drop(['CATALOG_NM', 'KEYWORD'], axis=1)

    # Display the updated DataFrame
    print(merged_df)
else:
    print("The necessary columns 'CATALOG_NM' and/or 'KEYWORD' are missing.")

              INPUT_DT       UPDATE_DT     REMOTEIP  judge  \
0       20230228005732  20230228005732  14177113144      1
1       20230227231604  20230227231604    493417273      1
2       20230227224740  20230227224740  15913861247      1
3       20230227223506  20230227223506  10316713461      1
4       20230227214151  20230227214151  11841162204      1
...                ...             ...          ...    ...
751310  20180101031323  20180101031323   9122621280      0
751311  20180101031009  20180101031009   9122621280      0
751312  20180101030646  20180101030646   9122621280      0
751313  20180101030314  20180101030314   9122621280      0
751314  20180101025359  20180101025359   9122621280      0

        CATALOG_NM_encoded  KEYWORD_encoded
0                   309996           213049
1                   135858           281551
2                    33402             8042
3                    38098           341147
4                   335496           242581
...                    ...              ...
751310              201685            27524
751311              344790            45249
751312              375214            45249
751313              133173            85214
751314               67929           149720

[751315 rows x 6 columns]

In [32]:
merged_df.head()

,INPUT_DT,UPDATE_DT,REMOTEIP,judge,CATALOG_NM_encoded,KEYWORD_encoded
0,20230228005732,20230228005732,14177113144,1,309996,213049
1,20230227231604,20230227231604,493417273,1,135858,281551
2,20230227224740,20230227224740,15913861247,1,33402,8042
3,20230227223506,20230227223506,10316713461,1,38098,341147
4,20230227214151,20230227214151,11841162204,1,335496,242581

In [33]:
merged_df['judge'].value_counts()

judge
1    538722
0    212593
Name: count, dtype: int64

## 머신러닝 모델 패키지 설치

In [34]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

## 디시젼 트리, 랜덤 포레스트 모델

In [35]:
X = merged_df.drop('judge', axis=1)
y = merged_df['judge']

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Decision Tree Model
decision_tree_model = DecisionTreeClassifier(random_state=42)
decision_tree_model.fit(X_train, y_train)

# Random Forest Model
random_forest_model = RandomForestClassifier(random_state=42)
random_forest_model.fit(X_train, y_train)

# Make predictions on the test set
y_pred_decision_tree = decision_tree_model.predict(X_test)
y_pred_random_forest = random_forest_model.predict(X_test)

# Evaluate Decision Tree Model
print("Decision Tree Model:")
print("Accuracy:", accuracy_score(y_test, y_pred_decision_tree))
print("Classification Report:\n", classification_report(y_test, y_pred_decision_tree))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_decision_tree))

# Evaluate Random Forest Model
print("\nRandom Forest Model:")
print("Accuracy:", accuracy_score(y_test, y_pred_random_forest))
print("Classification Report:\n", classification_report(y_test, y_pred_random_forest))
print("Confusion Matrix:\n", confusion_matrix(y_test, y_pred_random_forest))

Decision Tree Model:
Accuracy: 0.9141438677518751
Classification Report:
               precision    recall  f1-score   support

           0       0.84      0.85      0.85     42437
           1       0.94      0.94      0.94    107826

    accuracy                           0.91    150263
   macro avg       0.89      0.90      0.89    150263
weighted avg       0.91      0.91      0.91    150263

Confusion Matrix:
 [[ 36194   6243]
 [  6658 101168]]

Random Forest Model:
Accuracy: 0.9411365405988168
Classification Report:
               precision    recall  f1-score   support

           0       0.95      0.83      0.89     42437
           1       0.94      0.98      0.96    107826

    accuracy                           0.94    150263
   macro avg       0.94      0.91      0.92    150263
weighted avg       0.94      0.94      0.94    150263

Confusion Matrix:
 [[ 35355   7082]
 [  1763 106063]]

## 실제 데이터 입력

### 실제 데이터에서 랜덤으로 20개 추출

In [47]:
random_sample_df = merged_df.sample(n=20, random_state=42)
random_sample_df.head(20)

,INPUT_DT,UPDATE_DT,REMOTEIP,judge,CATALOG_NM_encoded,KEYWORD_encoded
424815,20181010135044,20181010135044,183207172240,1,347211,99779
538734,20230227170552,20230227170552,22024612462,0,88588,46017
303681,20191210143447,20191230152344,149129120204,1,24908,233063
598332,20220607144934,202206080908,10413131150,0,399644,303949
319122,20190924150655,20220808170338,596169206,1,117572,167642
432512,20180910155346,20180910155346,11388198174,1,26898,5620
601842,20220524000824,20220524000824,462463200,0,297158,220089
349133,20190602131327,201907190921,91132137102,1,450841,235447
727159,20190110183715,202107241449,3757116120,0,45350,348408
274378,20200422153242,20200422153242,22024221130,1,87510,101679
672417,20200822131951,20200822131951,6422711141,0,323462,111226
304128,20191207204344,20191207213136,113118168196,1,125922,76199
400873,20181211045212,20190704211056,197242115198,1,374090,279057
309736,20191111155434,20191126164247,180115118189,1,175369,121987
21358,20221114000559,20221114000559,43153218,1,238789,305352
694893,20200507065635,20200507065635,15718514490,0,200666,144912
350105,20190529134540,202208240923,1112212222,1,284903,291551
470067,20180619155043,20180619155043,11925430204,1,412777,257752
27494,20221019173558,20221019173558,10317252178,1,237525,293861
295927,20200123112117,20200123112117,95169563,1,71471,34652

In [48]:
random_sample_df = random_sample_df.drop('judge', axis=1)

### 모델 성능 결과

In [49]:
new_predictions = random_forest_model.predict(random_sample_df)

# Display the predictions
print("Predictions for new data:", new_predictions)

Predictions for new data: [1 1 1 0 1 1 0 1 0 1 0 1 1 1 1 0 1 1 1 1]

In [ ]:
1 0 1 0 1 1 0 1 0 1 0 1 1 1 0 1 1 1 1